<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Coding Events</title>
</head>
<body class="container">

<h1>All Events</h1>

<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Address</th>
    </tr>
    </thead>

    <tr th:each="event : ${events}">
        <td th:text="${event.key}"></td>
        <td th:text="${event.value}"></td>
    </tr>
<!--    <tr th:each="eventKey : ${eventKeys}">-->
<!--        <td th:text="${eventKey}"></td>-->
<!--    </tr>-->

    <tbody>



</table>

</body>
</html>